In [6]:
x = range(20)
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
#range
for n in range(0,20):
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [17]:
x = range(10,20)
for n in x:
    print(n)

10
11
12
13
14
15
16
17
18
19

In [21]:
list = [10, 20, 14, 55, 43, 87, 76]
print(len(list))

7

In [22]:
str1 = "Artificial Intelligence"
print(str1)

Artificial Intelligence

In [24]:
str1 = "Artificial Intelligence"
print(str1)
for i in range(0,len(str1)):
    print(str1[i])

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [25]:
name = input("Enter your Name: ")
age = int(input("Enter your Age"))
prof = input("Enter your Profession")
print("Name: ",name)
print("Age: ",age)
print("Profession: ",prof)

Enter your Name: Kamalk
Enter your Age35
Enter your Professionteacher
Name:  Kamalk
Age:  35
Profession:  teacher

In [27]:
tuple1 = (0,1,2,3)
print(tuple1)

(0, 1, 2, 3)

In [28]:
tuple1 = ((0,1,2,3),('python','HOPE'))
print(tuple1)

((0, 1, 2, 3), ('python', 'HOPE'))

In [31]:
list1 = (20,10,16,19,25,1,276,188)
for i in range(0,len(list1)):
    if (list1[i]%2==1):
        print(list1[i]," is Odd")

19  is Odd
25  is Odd
1  is Odd

In [32]:
list1 = (20,10,16,19,25,1,276,188)
for i in range(0,len(list1)):
    if (list1[i]%2==0):
        print(list1[i]," is Even")

20  is Even
10  is Even
16  is Even
276  is Even
188  is Even